<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Select Role</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- include('partials/header') %>
    <main class="centered">
      <h1>Select your role</h1>
      <div class="roles">
        <a class="card" href="/register/patient">Patient</a>
        <a class="card" href="/register/doctor">Doctor</a>
        <a class="card" href="/register/pharmacy">Pharmacy</a>
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
